<xf:macro id="cv6_inputIcon"
			arg-target="!"
			arg-name="!" 
			arg-label=""
			arg-rowclass=""
			arg-hint=""
			arg-explain=""
			arg-value="" 
			arg-stylechooser="{{ ['style'] }}"
			arg-placeholder="fa-..." 
			arg-showError="1"
			arg-readonly=""
			arg-maxlength="100"
			arg-dir="ltr"
			arg-type="default"
			arg-stylefield="{{ false }}"
>

	<xf:js>
		XF.extendObject(XF.phrases,
		{
			cv6UnknownIcon: "{{ phrase('cv6_unknown_fa_icon')|escape('js') }}",
			cv6UnknownClass: "{{ phrase('cv6_invalid_class:')|escape('js') }}"
		});
	</xf:js>

	<xf:js prod="cv6/core/icon.min.js" dev="cv6/core/icon.js" addon="cv6/Core" />
	<xf:css src="cv6_core.less" />

	<xf:set var="$postField">
		<xf:macro id="layout" arg-stylechooser="{$stylechooser}" />
	</xf:set>

	<xf:set var="$preField">
		<xf:macro id="pre" arg-value="{$value}" arg-target="{$target}" />
	</xf:set>

	<xf:set var="$explainError">
		<xf:if is="$explain">{$explain|raw}<br /></xf:if>
		<span class="cv6-iconerror is-hidden"></span>
	</xf:set>

	<xf:textboxrow rowclass="{$rowclass}" 
			class="js-cv6-iconclasses--{$target}" 
			label="{$label}" 
			hint="{$hint}"
			explain="{{ $showError ? $explainError|raw : $explain|raw }}" 
			name="{$name}" 
			value="{$value}"
			placeholder="{$placeholder}" 
			initialhtml="<div class='inputGroup inputGroup--joined'>{$preField|raw}"
			html="{$postField|raw}</div>" 
			data-xf-init="cv6ChangeIcon" 
			data-target=".cv6-iconpreview--{$target}"
			data-type="{$type}" 
			data-style-field="{$stylefield}" 
			data-show-error="{$showError}"
			readonly="{$readonly}" 
			maxlength="{$maxlength}" 
			dir="{$dir}"
		 />

</xf:macro>

<xf:macro id="cv6_inlineIcon" 
	arg-target="!" 
	arg-name="!" 
	arg-label="" 
	arg-value="" 
	arg-stylechooser="{{ ['style'] }}" 
	arg-placeholder="fa-..." 
	arg-readonly=""
	arg-maxlength="100" 
	arg-dir="ltr" 
	arg-type="default" 
	>
	<xf:js prod="cv6/core/icon.min.js" dev="cv6/core/icon.js" addon="cv6/Core" />
	<xf:css src="cv6_core.less" />

	<div class='inputGroup inputGroup--joined'>
		<xf:macro id="pre" arg-value="{$value}" arg-target="{$target}" />
		<xf:textbox
			class="js-cv6-iconclasses--{$target}" 
			label="{$label}" 
			name="{$name}" 
			value="{$value}"
			placeholder="{$placeholder}" 
			data-xf-init="cv6ChangeIcon" 
			data-target=".cv6-iconpreview--{$target}"
			data-type="{$type}" 
			data-error="0"
			readonly="{$readonly}" 
			maxlength="{$maxlength}"
			dir="{$dir}" />
		<xf:macro id="layout" arg-stylechooser="{$stylechooser}" />
	</div>
</xf:macro>

<xf:macro id="pre" arg-value="!" arg-target="!">
	<span class='inputGroup-text'>
		<xf:fa icon="{{ $value ?: 'fa-times-octagon' }}"
			class="{{ $value ? '' : 'cv6-no-icon' }} cv6-iconpreview--{$target} cv6-iconpreview" />
	</span>
</xf:macro>

<xf:macro id="layout" arg-stylechooser="{{ ['style','animation','rotation'] }}">
	<xf:if is="$xf.options.cv6ShowIconHelper && $stylechooser|count > 0">
		<xf:if contentcheck="true">
			<span class='inputGroup-text'>
				<span class="menuTrigger" data-xf-click="menu" aria-expanded="false" aria-haspopup="true">{{
					phrase('cv6_fa_format') }}</span>
				<div class="menu" data-menu="menu" aria-hidden="true">
					<div class="menu-content">
						<h4 class="menu-tabHeader tabs" data-xf-init="tabs" role="tablist">
							<i class="hScroller-action hScroller-action--end" aria-hidden="true"></i>
							<span class="hScroller" data-xf-init="h-scroller">
								<span class="hScroller-scroll">
									<xf:if is="in_array('style',$stylechooser)">
										<a class="tabs-tab is-active" role="tab"
											aria-controls="{{ unique_id('accountMenu') }}">{{ phrase('cv6_fa_style') }}</a>
									</xf:if>
									<xf:if is="in_array('animation',$stylechooser)">
										<a class="tabs-tab" role="tab">{{ phrase('cv6_fa_animation') }}</a>
									</xf:if>
									<xf:if is="in_array('rotation',$stylechooser)">
										<a class="tabs-tab" role="tab">{{ phrase('cv6_fa_rotation') }}</a>
									</xf:if>
								</span>
							</span>
							<i class="hScroller-action hScroller-action--start" aria-hidden="true"></i>
						</h4>
	
						<ul class="tabPanes cv6-tabPanes">
							<xf:contentcheck>
								<xf:set var="$styles" value="{$value|split(' ')}" />
								<xf:if is="in_array('style',$stylechooser)">
									<xf:set var="$items">
										<xf:foreach loop="$xf.options.cv6CoreFaStyle" key="$class" value="$on">
											<xf:if is="$on">
												<xf:set var="$phrase">cv6_fa_{$class|replace('-','_')}</xf:set>
												<span class="menu-linkRow{{ in_array($class,$styles) ? ' is-active' : '' }}"
													data-class="{$class}">{{ phrase_dynamic({$phrase}) }}</span>
												<xf:if is="in_array($class,$styles)">
													<xf:set var="$checkStyle" value="1" />
												</xf:if>
											</xf:if>
										</xf:foreach>
									</xf:set>
									<li class="is-active" role="tabpanel" aria-expanded="true" data-type="variant">
										<span class="menu-linkRow{{ $checkStyle ? '' : ' is-active' }}"
											data-class="_default">{{ phrase('cv6_icon_style_based') }}</span>
										{$items|raw}
									</li>
								</xf:if>
								<xf:if is="in_array('animation',$stylechooser)">
									<xf:set var="$items">
										<xf:foreach loop="$xf.options.cv6CoreFaAnimation" key="$class" value="$on">
											<xf:if is="$on">
												<xf:set var="$phrase">cv6_fa_{$class|replace('-','_')}</xf:set>
												<span class="menu-linkRow{{ in_array($class,$styles) ? ' is-active' : '' }}"
													data-class="{$class}">{{ phrase_dynamic({$phrase}) }}</span>
												<xf:if is="in_array($class,$styles)">
													<xf:set var="$checkAni" value="1" />
												</xf:if>
											</xf:if>
										</xf:foreach>
									</xf:set>
									<li role="tabpanel" aria-expanded="true" data-type="animation">
										<span class="menu-linkRow{{ $checkAni ? '' : ' is-active' }}"
											data-class="_default">{{ phrase('none') }}</span>
										{$items|raw}
									</li>
								</xf:if>
								<xf:if is="in_array('rotation',$stylechooser)">
									<xf:set var="$items">
										<xf:foreach loop="$xf.options.cv6CoreFaRotation" key="$class" value="$on">
											<xf:if is="$on">
												<xf:set var="$phrase">cv6_fa_{$class|replace('-','_')}</xf:set>
												<span class="menu-linkRow{{ in_array($class,$styles) ? ' is-active' : '' }}"
													data-class="{$class}">{{ phrase_dynamic({$phrase}) }}</span>
												<xf:if is="in_array($class,$styles)">
													<xf:set var="$checkRoti" value="1" />
												</xf:if>
											</xf:if>
										</xf:foreach>
									</xf:set>
									<li role="tabpanel" aria-expanded="true" data-type="rotation">
										<span class="menu-linkRow{{ $checkRoti ? '' : ' is-active' }}"
											data-class="_default">{{ phrase('none') }}</span>
										{$items|raw}
									</li>
								</xf:if>
							</xf:contentcheck>
						</ul>
					</div>
				</div>
			</span>
		</xf:if>
	</xf:if>
</xf:macro>