.cv6-iconpreview {
	width: 30px !important;
	.m-transition();
	&:hover {
		 transform: scale(1.8);
	}
}

.cv6-loading {
	width: 30px;
	color: @xf-textColorFeature;
}

.cv6-error-icon {
	width: 30px;
	color: @xf-errorColor;
}

.tabPanes.cv6-tabPanes {
	li {
		cursor: pointer;
		.menu-linkRow.is-active {
			font-weight: 700;
			&:after {
				.m-faBase();
				.m-faIcon(@fa-var-check);
			}
		}
	}
}

.cv6--asset-imagepreview {
	.m-transition();
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	&:focus {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
	}
	&.cv6-noimg {
		.m-transition();
		background-size: 0;
	}
}

.cv6-preset-link {
	width: 80px;
	cursor: pointer;
}

.cv6-iconerror {
	color: @xf-errorColor;
	&.is-hidden {
		display: none;
	}
}

.cv6-no-icon {
	color: @xf-textColorMuted;
}

.cv6-icon-check {
	&:before {
		.m-faIcon(@fa-var-check);
	}
}
.cv6-icon-no {
	&:before {
		.m-faIcon(@fa-var-do-not-enter);
	}
}
.cv6-icon-todo {
	&:before {
		.m-faIcon(@fa-var-plus);
	}
}

ul.listColumns.cv6-listColumns {
	display: grid;
	grid-template-columns: (repeat(2, 1fr));
}