<xf:set var="$fa" value="{{ cv6icon($property.property_value) }}" />
<xf:macro id="cv6_fa_icon::cv6_inputIcon" 
    arg-target="cv6-property-{$property.property_id}" 
    arg-rowclass="{$rowClass}"
    arg-name="cv6Icon-{$property.property_id}"
    arg-label="{$titleHtml}" 
    arg-hint="{$hintHtml}"
    arg-explain="{$property.description}  {{ phrase('cv6_no_style') }}" 
    arg-value="{$fa}"
    arg-stylechooser="{{ [ $valueOptions.style == 1 ? 'style' : '', $valueOptions.rotation == 1 ? 'rotation' : '' ,  $valueOptions.animation == 1 ? 'animation' : ''] }}"
    arg-type="stylevar"
    arg-stylefield="cv6-{$property.property_id}"
/>
<input type="hidden" name="{$formBaseKey}"  id="cv6-{$property.property_id}" value="{$property.property_value}">