<xf:macro name="message" arg-display="block" arg-type="info" arg-title="" arg-message="!">
    <xf:if is="$display=='row'">
        <div class="block-rowMessage block-rowMessage--{$type} block-rowMessage--iconic">
            <xf:if is="$title">
                <strong>{$title}</strong><br />
            </xf:if>
            {$message}
        </div>
    <xf:elseif is="$display=='block'" />
        <div class="blockMessage blockMessage--{$type} blockMessage--iconic">
            <xf:if is="$title">
                <strong>{$title}</strong><br />
            </xf:if>
            {$message}
        </div>
    <xf:else />
        <div class="{$type}">
            <xf:if is="$title">
                <strong>{$title}</strong><br />
            </xf:if>
            {$message}
        </div>
    </xf:if>
</xf:macro>

<xf:macro name="highlight" arg-display="block" arg-title="" arg-message="!">
    <xf:macro name="message" arg-display="{$display}" arg-type="highlight" arg-title="{$title}" arg-message="{$message}" />
</xf:macro>

<xf:macro name="success" arg-title="" arg-message="!">
    <xf:macro name="message" arg-type="success" arg-title="{$title}" arg-message="{$message}" />
</xf:macro>

<xf:macro name="warning" arg-title="" arg-message="!">
    <xf:macro name="message" arg-type="warning" arg-title="{$title}" arg-message="{$message}" />
</xf:macro>

<xf:macro name="error" arg-title="" arg-message="!">
    <xf:macro name="message" arg-type="error" arg-title="{$title}" arg-message="{$message}" />
</xf:macro>

<xf:macro name="important" arg-title="" arg-message="!">
    <xf:macro name="message" arg-type="important" arg-title="{$title}" arg-message="{$message}" />
</xf:macro>

<xf:macro name="alt" arg-title="" arg-message="!">
    <xf:macro name="message" arg-type="alt" arg-title="{$title}" arg-message="{$message}" />
</xf:macro>