.block-cv6-letterindex {
    margin-bottom: -1px;
    z-index: @zIndex-1;
    ul.cv6-letterindex {
        .m-listPlain();

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: nowrap;
        width: 100%;

        padding-left: @xf-borderRadiusLarge;
        padding-right: @xf-borderRadiusLarge;
        height: @xf-cv6IndexTabSize;

        li {
            .xf-cv6IndexTabBasic();

            display: inline-block;
            flex-grow: 1;
            overflow: hidden;
            height: calc(@xf-cv6IndexTabSize * 0.85);
            width: @xf-cv6IndexTabSize;
            min-width: max-content;
            
            .m-transition();

            &.remove {
                height: @xf-cv6IndexTabSize;
            }
                
            &.no-result {
                // cursor: wait;
                color: @xf-cv6IndexTabTextNoResult;
                background-color: @xf-cv6IndexTabBgNoResult;
                &:hover {
                    color: @xf-cv6IndexTabTextNoResult;
                    a {
                        cursor: default;
                    }
                }
            }

            &:hover {
                text-decoration: none;
                background-color: @xf-cv6IndexTabBgActive;
                color: @xf-cv6IndexTabTextHover;
                height: @xf-cv6IndexTabSize;
            }

            &.active {
                background-color: @xf-cv6IndexTabBgActive;
                border-bottom-color: @xf-cv6IndexTabBgActive;
                color: @xf-cv6IndexTabTextActive;
                height: @xf-cv6IndexTabSize;
                font-weight: @xf-fontWeightHeavy;
            }

            a {
                color: inherit;
                text-decoration: none;
                display: block;
            }
        }
    }

    .hScroller-action {
        .m-hScrollerActionColorVariation(xf-default(@xf-pageBg, transparent),
            xf-default(@xf-standaloneTab--color, ~""),
            xf-default(@xf-standaloneTabSelected--color, ~""));
    }
}